body {
  font-family: 'Helvetica', Arial;
  font-size: 16px;
}

input, button, submit {
  border:none;
  font-size: 16px;
}

input {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #DDD;
}

.btn {
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 4px;
}

.btn--default {
  background-color: #ECF0F1;
  border: 1px solid #ECF0F1;
  color: #48535E;
}
.btn--default:hover {
  background-color: #DDD;
  border: 1px solid #DDD;
}

.btn--primary {
  background-color: #2C97DE;
  border: 1px solid #2C97DE;
  color: #FFF;
}
.btn--primary:hover {
  background-color: #227FBB;
  border: 1px solid #227FBB;
}

.btn--secondary {
  background-color: #A2D337;
  border: 1px solid #A2D337;
  color: #FFF;
}
.btn--secondary:hover {
  background-color: #89BE15;
  border: 1px solid #89BE15;
}


.category {
  border: 1px solid #48535E;
  color: #48535E;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
}

.category--sel {
  border-color: #2C97DE;
  color: #2C97DE;
}

.category:focus {
  border-color: #2C97DE;
  color: #2C97DE;
  outline: 0;
}
.category:focus, .btn:focus {
  outline: 0;
}
